<mat-accordion>
    <mat-expansion-panel disabled expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Invoice Details</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <!-- <app-side-nav></app-side-nav> -->
      <div class="row">
        <div class="col">
          <div class="col">
            Search by Name: <input type="text" id="x">
          </div>
        </div>
        <div class="col" style="margin-right: 50px;">
          <button type="button" class="btn btn-primary" (click)="openModel()">
            Get Invoice
          </button>
        </div>
      </div>
      <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
            <!-- Modal Header -->
            <form [formGroup]="invoiceForm" (ngSubmit)="invoiceSubmitted()">
              <div class="form-group" style="margin-left: 10px; margin-right: 10px; margin-top:10px; margin-bottom: 10px;">
                <label for="exampleInputEmail1" >University Id</label>
                <input type="text" class="form-control" id="uniId" formControlName="uniId" placeholder="Enter University Id">
              </div>
              <div class="form-group" style="margin-left: 10px; margin-right: 10px; margin-top:10px; margin-bottom: 10px;">
                <label for="exampleInputEmail1">Term</label>
                <input type="email" class="form-control" id="term" formControlName="term" placeholder="Enter term">
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary" (click)="CloseModel()">Submit</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="CloseModel()">Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Table Container -->
      <div class="table-container" style="padding-top: 20px;">
        <table mat-table [dataSource]="dataSource">
                
            <!-- Position Column -->
            <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> User Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            
            <!-- Name Column -->
            <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            
            <!-- Weight Column -->
            <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
              
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element"> 
                <button class="btn" id="btn1" (click)="openModel()"><i class="fa fa-download"></i></button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>


    </mat-expansion-panel>
</mat-accordion>
<br>
<mat-card>
    <mat-card-content>
        <br>Amount: {{amt}}
        <br>GST: {{gst}}
        <br>Price: {{price}}
    </mat-card-content>
</mat-card>
  
  